/* ============================== */
/*         RESET STYLES           */
/* ============================== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* ============================== */
/*             Body               */
/* ============================== */
body{
  position: relative;
}

body::before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;
  background-image: url("/public/images/ghostbg.jpg");
  background-position: center;
}

/* ============================== */
/*         Main-container         */
/* ============================== */
.main-container{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


/* ============================== */
/*           Typography           */
/* ============================== */
.heading-top > h1,
.heading-middle > h1,
.upload-heading-top > h1,
label{
  font-family: "Frijole", serif;
}

footer > p{
  font-size: 1em;
  font-weight: 700;
}

/* ============================== */
/*            Header              */
/* ============================== */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
}

.head-img{
  width: 3em;
}

.ul-container{
  display: flex;
  gap: 4em;
}

.list-item, .list-item > a{
  text-decoration: none;
  color: white;
  list-style: none;
}


/* ============================== */
/*            Middle              */
/* ============================== */
.content{
  width: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}

.heading-top,
.heading-middle{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}


/* ============================== */
/*            Footer              */
/* ============================== */

footer{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

/* ============================== */
/*            responsive          */
/* ============================== */

@media  (max-width:700px) {
  .header{
    padding: 1em 1em;
  }
}



/* ============================== */
/*            Upload              */
/* ============================== */
.upload-header > img{
  width: 2em;
}
.upload-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 4em;
  flex: 1;
}
.form-container{
  display: grid;
  grid-template-columns: 100px 200px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  grid-template-areas: 
    "tl ti"
    "tml tmi"
    "ll li"
    "dl di"
    "bt bt";
  
}
.title-label{
  grid-area : tl;
}
.time-label{
  grid-area: tml;
}
.location-label{
  grid-area: ll;
}
.details-label{
  grid-area: dl;
}

.title{
  grid-area : ti;
}
.time{
  grid-area: tmi;
}
.location{
  grid-area: li;
}
.details{
  grid-area: di;
}

button{
  grid-area: bt;
  padding: 1em;
  background-color: black;
  color: wheat;
  border: 3px dotted white;
}

input{
  padding: 1em;
  border: 3px dotted black;
}


/* ============================== */
/*            Read                */
/* ============================== */

.card{
  width: fit-content;
  text-align: left;
  margin: 0 auto;
  border: 3px solid black;
  padding: 1em;
  background-color: wheat;
  margin-bottom: 3em;
}
.card-time{
  font-size: .7em;
}
.card-title{
  font-size: 1.3em;
  font-weight: 800;
}